<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "name": "Petra - Musikerin",
  "description": "Professionelle Musikerin aus Bempflingen für Hochzeiten, Beerdigungen und Events. Jahrelange Erfahrung, vielseitiges Repertoire.",
  "url": "{{ .Site.BaseURL }}",
  "telephone": "",
  "email": "kontakt@petramusik.de",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "August-Lämmle-Straße 21",
    "addressLocality": "Bempflingen",
    "postalCode": "72658",
    "addressCountry": "DE"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": "48.576252211049216",
    "longitude": "9.274130344783773"
  },
  "openingHours": "Mo-Su 09:00-18:00",
  "priceRange": "$$",
  "serviceArea": {
    "@type": "GeoCircle",
    "geoMidpoint": {
      "@type": "GeoCoordinates",
      "latitude": "48.576252211049216",
      "longitude": "9.274130344783773"
    },
    "geoRadius": "50000"
  },
  "areaServed": [
    "Bempflingen",
    "Nürtingen",
    "Esslingen",
    "Stuttgart",
    "Tübingen",
    "Reutlingen"
  ],
  "hasOfferCatalog": {
    "@type": "OfferCatalog",
    "name": "Musikalische Dienstleistungen",
    "itemListElement": [
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Hochzeitsmusik",
          "description": "Romantische und festliche Musik für Hochzeitszeremonien und Feiern"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Trauermusik",
          "description": "Würdevolle und tröstende musikalische Begleitung für Beerdigungen"
        }
      },
      {
        "@type": "Offer",
        "itemOffered": {
          "@type": "Service",
          "name": "Event-Musik",
          "description": "Stilvolle Untermalung für Firmenfeiern, Jubiläen und besondere Anlässe"
        }
      }
    ]
  },
  "founder": {
    "@type": "Person",
    "name": "Petra Buchmann",
    "jobTitle": "Professionelle Sängerin und Musikerin",
    "description": "Professionelle Musikerin mit über 30 Jahren Bühnenerfahrung"
  },
  "foundingDate": "1990",
  "slogan": "Musikalische Begleitung für besondere Momente"
}
</script>